:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  background-image: url('./image/sailor.jpg');
  background-size: contain;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: rgb(216, 88, 184);
}

table {
  border-spacing: 0.01rem;
}

td {
  border-radius: 0.5rem;
  background-color: rgb(218, 129, 191);
  padding: 1.2rem;
  border-right: solid #b349ba 0.25rem;
  border-bottom: solid #b349ba 0.25rem;
  border-top: solid #723c7d 0.25rem;
  border-left: solid #723c7d 0.25rem;
}

.reset {
  width: 10%;
  margin: 2rem;
}

#brooch {
  float: left;
  height: 80px;
  padding-top: 15px;
  display: ;
}
